@page
@model Blue_Sakura_Website.Pages.AdminPage.AddAnimePageModel
@section CSS{
    <link rel="stylesheet" href="~/css/AddEntertainmentPage.cshtml.css" />
}
<form method="post" enctype="multipart/form-data" class="center">
    <input hidden asp-for="PicturePath">

    <h1>Add Anime</h1>
    <div class="field_input">
        <p>Title: <span asp-validation-for="Title" style="color: orangered; font-size: 12px;"></span><input asp-for="Title" type="text" value="" /></p>
        <p>AlternateTitle: <span asp-validation-for="AlternateTitle" style="color: orangered; font-size: 12px;"></span><input asp-for="AlternateTitle" type="text" value="" /></p>
        <p>Genre: <span asp-validation-for="Genre" style="color: orangered; font-size: 12px;"></span><input asp-for="Genre" type="text" value="" /></p>

        @*Select*@
        <p>Main Genre: <span asp-validation-for="MainGenre" style="color: orangered; font-size: 12px;"></span></p>
        <select asp-for="MainGenre" asp-items="Html.GetEnumSelectList<Blue_Sakura_Logic.EnumCollection.GenreType>()">
        </select>

        <p>Start Date: <span asp-validation-for="StartDate" style="color: orangered; font-size: 12px;"></span><input asp-for="StartDate" type="date" value="" /></p>
        <p>End Date: <span asp-validation-for="EndDate" style="color: orangered; font-size: 12px;"></span><input asp-for="EndDate" type="date" value="" /></p>

        @*Select*@
        <p>Status: <span asp-validation-for="Status" style="color: orangered; font-size: 12px;"></span></p>
        <select asp-for="Status" asp-items="Html.GetEnumSelectList<Blue_Sakura_Logic.EnumCollection.EntertainmentStatusType>()">
        </select>

        <p>Synopsis: <span asp-validation-for="Synopsis" style="color: orangered; font-size: 12px;"></span><input asp-for="Synopsis" type="text" value="" /></p>
        <p>Description: <span asp-validation-for="Description" style="color: orangered; font-size: 12px;"></span><input asp-for="Description" type="text" value="" /></p>
        <p>Picture: <input asp-for="Picture" value="" /></p>
        <p>Studio: <span asp-validation-for="Studio" style="color: orangered; font-size: 12px;"></span><input asp-for="Studio" type="text" value="" /></p>
        <p>Number Of Episode: <span asp-validation-for="NrOfEpisode" style="color: orangered; font-size: 12px;"></span><input asp-for="NrOfEpisode" type="number" value="1" /></p>
        <p>Duration: <span asp-validation-for="Duration" style="color: orangered; font-size: 12px;"></span><input asp-for="Duration" type="number" value="1" /></p>

        @*Select anime*@
        <p>Prequel: <span asp-validation-for="Prequel" style="color: orangered; font-size: 12px;"></span></p>
        <select asp-for="Prequel" asp-items="Model.AnimeSelectList">
            <option value=""></option>
        </select>

        <p>Sequel: <span asp-validation-for="Sequel" style="color: orangered; font-size: 12px;"></span></p>
        <select asp-for="Sequel" asp-items="Model.AnimeSelectList">
            <option value=""></option>
        </select>
    </div>

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var filename = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(filename);
                });
            });
        </script>
    }

    <div class="content_footer">
        <a class="content_footer_button"><input type="submit" class="content_footer_button" value="Add"></a>
        <a class="content_footer_button" asp-page="/AdminPage/AddEntertainmentOptionPage"><input type="button" class="content_footer_button" value="Cancel"></a>
    </div>

</form>