@page
@model WADAssignmentS2.Pages.Anime.BeastarsModel
@{
}

<a asp-page="/Index" class="back_button">Back</a>

<div class="individual_content_container">
    <div class="individual_content">

        <div class="individual_poster_container">
            <img src="~/img/Beastars.Poster.jpg" class="individual_poster">
            <input type="button" id="add_button" value="+">
        </div>

        <table class="individual_table">
            <tr>
                <td class="first_row">Title</td>
                <td class="second_row">Beastars</td>
            </tr>
            <tr>
                <td class="first_row">Genre</td>
                <td class="second_row">Drama, Slice of Life</td>
            </tr>
            <tr>
                <td class="first_row">Type</td>
                <td class="second_row">Shows</td>
            </tr>
            <tr>
                <td class="first_row">Studio</td>
                <td class="second_row">Orange</td>
            </tr>
            <tr>
                <td class="first_row">Duration</td>
                <td class="second_row">22 min. per ep.</td>
            </tr>
            <tr>
                <td class="first_row">Synopsis</td>
                <td class="second_row">
                    In a civilized society of anthropomorphic animals, an uneasy tension exists between carnivores and herbivores. At Cherryton Academy, this mutual distrust peaks after a predation incident results in the death of Tem, an alpaca in the school's drama club. Tem's friend Legoshi, a grey wolf in the stage crew, has been an object of fear and suspicion for his whole life. In the immediate aftermath of the tragedy, he continues to lay low and hide his menacing traits, much to the disapproval of Louis, a red deer and the domineering star actor of the drama club.
                    <br/>
                    When Louis sneaks into the auditorium to train Tem's replacement for an upcoming play, he assigns Legoshi to lookout duty. That very night, Legoshi has a fateful encounter with Haru, a white dwarf rabbit scorned by her peers. His growing feelings for Haru, complicated by his predatory instincts, force him to confront his own true nature, the circumstances surrounding the death of his friend, and the undercurrent of violence plaguing the world around him.
                </td>
            </tr>
        </table>

    </div>
</div>