@page
@model WADAssignmentS2.Pages.Anime.Beastars2ndSeasonModel
@{
}

<a asp-page="/Index" class="back_button">Back</a>

<div class="individual_content_container">
    <div class="individual_content">

        <div class="individual_poster_container">
            <img src="~/img/Beastars.2nd.Season.Poster.jpg" class="individual_poster">
            <input type="button" id="add_button" value="+">
        </div>

        <table class="individual_table">
            <tr>
                <td class="first_row">Title</td>
                <td class="second_row">Beastars 2nd Season</td>
            </tr>
            <tr>
                <td class="first_row">Genre</td>
                <td class="second_row">Drama, Slice of Life</td>
            </tr>
            <tr>
                <td class="first_row">Type</td>
                <td class="second_row">Shows</td>
            </tr>
            <tr>
                <td class="first_row">Studio</td>
                <td class="second_row">Orange</td>
            </tr>
            <tr>
                <td class="first_row">Duration</td>
                <td class="second_row">22 min. per ep.</td>
            </tr>
            <tr>
                <td class="first_row">Synopsis</td>
                <td class="second_row">
                    "Beastar"—a title awarded to beasts who prove their excellence through fighting inequality to unite carnivores and herbivores in an anthropomorphic animal society. Cherryton Academy has gone five years without one such leader. However, following the murder of an alpaca within the school boundaries, the growing tension between the different species poses a greater need for a Beastar to ensure peace and harmony.
                    <br/>
                    When Louis, the prime candidate for this prestigious role, rejects the offer and leaves the academy, the student council declares to honor any student who captures the culprit of the aforementioned murder as Beastar. Meanwhile, Legoshi's sense of duty as a strong wolf who must protect the weak pushes him to investigate the incident. To further complicate his life, he struggles to manage his complex feelings for the white rabbit, Haru.
                </td>
            </tr>
        </table>

    </div>
</div>