@page
@model WADAssignmentS2.Pages.KimiNoNaWaModel
@{
    
}

<a asp-page="/Index" class="back_button">Back</a>

<div class="individual_content_container">
    <div class="individual_content">

        <div class="individual_poster_container">
            <img src="~/img/Kimi.no.Na.wa.Poster.jpg" class="individual_poster">
            <input type="button" id="add_button" value="+">
        </div>

        <table class="individual_table">
            <tr>
                <td class="first_row">Title</td>
                <td class="second_row">Kimi no Na wa.</td>
            </tr>
            <tr>
                <td class="first_row">Genre</td>
                <td class="second_row">Drama, Romance, Supernatural</td>
            </tr>
            <tr>
                <td class="first_row">Type</td>
                <td class="second_row">Movie</td>
            </tr>
            <tr>
                <td class="first_row">Studio</td>
                <td class="second_row">CoMix Wave Films</td>
            </tr>
            <tr>
                <td class="first_row">Duration</td>
                <td class="second_row">1 hr. 46 min.</td>
            </tr>
            <tr>
                <td class="first_row">Synopsis</td>
                <td class="second_row">
                    Mitsuha Miyamizu, a high school girl, yearns to live the life of a boy in the bustling city of Tokyo—a dream that stands in stark contrast to her present life in the countryside. Meanwhile in the city, Taki Tachibana lives a busy life as a high school student while juggling his part-time job and hopes for a future in architecture.
                    <br />
                    One day, Mitsuha awakens in a room that is not her own and suddenly finds herself living the dream life in Tokyo—but in Taki's body! Elsewhere, Taki finds himself living Mitsuha's life in the humble countryside. In pursuit of an answer to this strange phenomenon, they begin to search for one another.
                    <br />
                    Kimi no Na wa. revolves around Mitsuha and Taki's actions, which begin to have a dramatic impact on each other's lives, weaving them into a fabric held together by fate and circumstance.
                </td>
            </tr>
        </table>

    </div>
</div>