@page
@model WADAssignmentS2.Pages.Anime.SpiritedAwayModel
@{
}

<a asp-page="/Index" class="back_button">Back</a>

<div class="individual_content_container">
    <div class="individual_content">

        <div class="individual_poster_container">
            <img src="~/img/Sen.to.Chihiro.no.Kamikakushi.Poster.jpg" class="individual_poster">
            <input type="button" id="add_button" value="+">
        </div>

        <table class="individual_table">
            <tr>
                <td class="first_row">Title</td>
                <td class="second_row">Sen to Chihiro no Kamikakushi</td>
            </tr>
            <tr>
                <td class="first_row">Genre</td>
                <td class="second_row">Adventure, Drama, Supernatural</td>
            </tr>
            <tr>
                <td class="first_row">Type</td>
                <td class="second_row">Movie</td>
            </tr>
            <tr>
                <td class="first_row">Studio</td>
                <td class="second_row">Studio Ghibli</td>
            </tr>
            <tr>
                <td class="first_row">Duration</td>
                <td class="second_row">2 hr. 4 min.</td>
            </tr>
            <tr>
                <td class="first_row">Synopsis</td>
                <td class="second_row">
                    Stubborn, spoiled, and naïve, 10-year-old Chihiro Ogino is less than pleased when she and her parents discover an abandoned amusement park on the way to their new house. Cautiously venturing inside, she realizes that there is more to this place than meets the eye, as strange things begin to happen once dusk falls. Ghostly apparitions and food that turns her parents into pigs are just the start—Chihiro has unwittingly crossed over into the spirit world. Now trapped, she must summon the courage to live and work amongst spirits, with the help of the enigmatic Haku and the cast of unique characters she meets along the way.
                    <br/>
                    Vivid and intriguing, Sen to Chihiro no Kamikakushi tells the story of Chihiro's journey through an unfamiliar world as she strives to save her parents and return home.
                </td>
            </tr>
        </table>

    </div>
</div>