@page
@model WADAssignmentS2.Pages.Anime.VioletEvergardenMovieModel
@{
}

<a asp-page="/Index" class="back_button">Back</a>

<div class="individual_content_container">
    <div class="individual_content">

        <div class="individual_poster_container">
            <img src="~/img/Violet.Evergarden.Movie.Poster.jpg" class="individual_poster">
            <input type="button" id="add_button" value="+">
        </div>

        <table class="individual_table">
            <tr>
                <td class="first_row">Title</td>
                <td class="second_row">Violet Evergarden Movie</td>
            </tr>
            <tr>
                <td class="first_row">Genre</td>
                <td class="second_row">Drama, Fantasy, Slice of Life</td>
            </tr>
            <tr>
                <td class="first_row">Type</td>
                <td class="second_row">Movie</td>
            </tr>
            <tr>
                <td class="first_row">Studio</td>
                <td class="second_row">Kyoto Animation</td>
            </tr>
            <tr>
                <td class="first_row">Duration</td>
                <td class="second_row">2 hr. 20 min.</td>
            </tr>
            <tr>
                <td class="first_row">Synopsis</td>
                <td class="second_row">
                    Several years have passed since the end of The Great War. As the radio tower in Leidenschaftlich continues to be built, telephones will soon become more relevant, leading to a decline in demand for "Auto Memory Dolls." Even so, Violet Evergarden continues to rise in fame after her constant success with writing letters. However, sometimes the one thing you long for is the one thing that does not appear.
                    <br/>
                    Violet Evergarden Movie follows Violet as she continues to comprehend the concept of emotion and the meaning of love. At the same time, she pursues a glimmer of hope that the man who once told her, "I love you," may still be alive even after the many years that have passed.
                </td>
            </tr>
        </table>

    </div>
</div>