@page
@model WADAssignmentS2.Pages.Anime.VioletEvergardenModel
@{
}

<a asp-page="/Index" class="back_button">Back</a>

<div class="individual_content_container">
    <div class="individual_content">

        <div class="individual_poster_container">
            <img src="~/img/Violet.Evergarden.Poster.jpg" class="individual_poster">
            <input type="button" id="add_button" value="+">
        </div>

        <table class="individual_table">
            <tr>
                <td class="first_row">Title</td>
                <td class="second_row">Violet Evergarden</td>
            </tr>
            <tr>
                <td class="first_row">Genre</td>
                <td class="second_row">Drama, Fantasy, Slice of Life</td>
            </tr>
            <tr>
                <td class="first_row">Type</td>
                <td class="second_row">Shows</td>
            </tr>
            <tr>
                <td class="first_row">Studio</td>
                <td class="second_row">Kyoto Animation</td>
            </tr>
            <tr>
                <td class="first_row">Duration</td>
                <td class="second_row">24 min. per ep.</td>
            </tr>
            <tr>
                <td class="first_row">Synopsis</td>
                <td class="second_row">
                    The Great War finally came to an end after four long years of conflict; fractured in two, the continent of Telesis slowly began to flourish once again. Caught up in the bloodshed was Violet Evergarden, a young girl raised for the sole purpose of decimating enemy lines. Hospitalized and maimed in a bloody skirmish during the War's final leg, she was left with only words from the person she held dearest, but with no understanding of their meaning.
                    <br/>
                    Recovering from her wounds, Violet starts a new life working at CH Postal Services after a falling out with her new intended guardian family. There, she witnesses by pure chance the work of an "Auto Memory Doll," amanuenses that transcribe people's thoughts and feelings into words on paper. Moved by the notion, Violet begins work as an Auto Memory Doll, a trade that will take her on an adventure, one that will reshape the lives of her clients and hopefully lead to self-discovery.
                </td>
            </tr>
        </table>

    </div>
</div>